/* src/components/ProductCard.css */

.product-card {
 border: 1px solid #ccc;
 border-radius: 8px;
 padding: 16px;
 text-align: center;
 transition: box-shadow 0.3s;
}

.product-card:hover {
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-link {
 text-decoration: none; /* Remove sublinhado do link */
 color: inherit; /* Herda a cor do texto do pai */
}

.product-image-container {
 margin-bottom: 12px;
}

.product-image {
 max-width: 100%;
 height: auto;
}

.product-name {
 font-size: 1.2em;
 margin: 8px 0;
}

.product-price {
 font-size: 1.1em;
 color: #333;
}

/* Estilos do botão "Adicionar ao Carrinho" */
.add-to-cart-button {
 display: block;
 background-color: #444444; /* Cor de fundo do botão */
 color: #F0F0F0; /* Cor do texto */
 padding: 12px 25px; /* Espaçamento interno */
 border: 1px solid #666; /* Borda do botão */
 border-radius: 8px; /* Bordas arredondadas */
 cursor: pointer; /* Cursor de ponteiro */
 font-size: 1.1em; /* Tamanho da fonte */
 text-decoration: none; /* Remove sublinhado */
 transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease; /* Transições suaves */
 margin: 20px auto 0 auto; /* Margens */
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Sombra do botão */
 max-width: 250px; /* Largura máxima */
 width: 100%; /* Largura total */
 text-align: center; /* Centraliza o texto */
}

.add-to-cart-button:hover {
 background-color: #555555; /* Cor de fundo ao passar o mouse */
 color: #FFFFFF; /* Cor do texto ao passar o mouse */
 transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.add-to-cart-button:active {
 transform: translateY(0); /* Retorna ao normal ao clicar */
}

.added-to-cart-feedback {
 display: block;
 margin-top: 10px;
 color: green;
 font-weight: bold;
}
